$webResourceManager.requireResource('com.intenso.jira.plugins.testFLO-reports:testflo-amchart-resources')
	<script type="text/javascript">
		
		jQuery(document).ready(function(){
			jQuery('#choose_filter_form').on('submit',function(){
			
			if(jQuery('#filter_projectOrFilterId_id').val()==''){
				jQuery('#filterError').text('$i18n.getText('testflo-reports.tp-progress-report.filter_required')');		
				return false;
			}
			
			});
		})
	
	</script>
	
	
	<header class="aui-page-header">
	  	<div class="aui-page-header-inner">
		    <div class="aui-page-header-main">
	      	 <h3>$i18n.getText('testflo-reports.tp-progress-report.test_plan_statistics')</h3>
	      	 </div>
		</div>
	</header>
	
	<div class="content-container">
		<br/><br/>
		
		<div class="error_message_wrapper">
			#foreach($errorMessage in $action.getErrorMessages())
				<div class="error">$errorMessage</div>
			#end
		</div>
						
		<form id="choose_filter_form" action="${baseurl}/secure/TpProgressReport.jspa" class="aui jiraform jirapanel" method="post">
		<table class="jiraform issue-body-content" style="width: 1100px">
			<tr>
				<td><img width="550" src="$!demoImgUrl" border="0" /></td>
				<td style="font-size: 16px;"><font style="font-weight:bold">Select filter with Test Plans.</font> <font style="color:red">(The filter must have project criteria!)</font> <br> <br>  
				<font class="fieldLabelArea">
						$i18n.getText('testflo-reports.tp-progress-report.changeFilterLabel'):
				</font>
				<input type="hidden" value="$!projectOrFilterId" id="filter_projectOrFilterId_id" name="projectOrFilterId">
				<span id="filter_projectOrFilterId_name">$!projectOrFilterName</span>
				<a onclick="window.open('$baseurl/secure/FilterPickerPopup.jspa?showProjects=true&amp;field=projectOrFilterId','filter_projectOrFilterId_window', 'width=800, height=500, resizable, scrollbars=yes').focus(); return false;" id="filter_projectOrFilterId_button" href="#">$i18n.getText('testflo-reports.tp-progress-report.changeFilterLink')</a>
				<br> <br> The report will show aggregated progress of issues from the filter.
				</td>
			</tr>
				
			<tr class="buttons-container">
	    
	        <td class="jiraformfooter"><div style="width:250px;" class="group"><span id="filterError" style="display:inline;" class="error">$!i18n.getText($!{filterError})</span>&nbsp;</div></td>
	        <td>
	            <div style="padding-left:0px;" class="buttons-container">
	                <div class="buttons">
					    <input type="submit" class="aui-button " title="$i18n.getText('testflo-reports.tp-progress-report.button.next') : Alt+Shift+s" accesskey="s" id="next_submit" value="$i18n.getText('testflo-reports.tp-progress-report.button.next')" name="$i18n.getText('testflo-reports.tp-progress-report.button.next')">
	                    <a name="$baseurl/secure/Dashboard.jspa" title="$i18n.getText('testflo-reports.tp-progress-report.button.cancel') (Alt+Shift + )" accesskey="" class="aui-button aui-button-link" id="cancelButton" href="$baseurl/secure/Dashboard.jspa">$i18n.getText('testflo-reports.tp-progress-report.button.cancel')</a>
	                </div>
	            </div>
			</td>
		</tr>
		
		</table>
		
		</form>
		
		<br/><br/>
	</div>	
	
