@CHARSET "UTF8";

		
		#test_agregation_summary{
			margin:25px auto;
			
		}
		
		#test_agregation_summary,
		#test_agregation_summary tr,
		#test_agregation_summary tr td{
		    border-collapse:collapse; 
		}
		
		#test_agregation_summary tr th{
			background-color:#205081;
			color:white;
			border:0px;
		}
		
		#test_agregation_summary tr td,
		#test_agregation_summary tr th{
			border:1px solid #205081;
			padding:5px;
		}
		
		.error{
			color:#D04437;
		}
		
		.error_message_wrapper{
			padding-left:15px;
			padding-right:15px;
		}