.testflo-icon {
	width: 16px;
	height: 16px;
	background-image: url(images/pluginIcon.png);
}

body .testflo-report-thumbnail:before {
    width: 268px;
    height: 138px;
    background-repeat: no-repeat;
	background-image: url(images/test-flo-logo-report.png);
}